---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"neuralnet/'
    Priority: 1
  - Regex: '^<catch2/'
    Priority: 2
  - Regex: '^<'
    Priority: 3
SortIncludes: CaseSensitive
SpaceAfterTemplateKeyword: true
FixNamespaceComments: true
